*{
font-family: Arial, Helvetica, sans-serif;
color: white;
max-width: 100%;
scroll-behavior: smooth;

}

body{background-color: black;
color: #f5f5f5;}

.main-page{width: 100%;}


.logo{display: inline-flex;
width: 35px;
height: 30px;
top: 0;
left: 5px;
}

nav{
display: inline-flex;
position: absolute;
top: 0;
height: 30px;
margin: 0;
}

nav ul{display: inline-flex;
list-style: none;
margin: 0;
padding: 10px;
}

nav a{text-decoration: none;
padding: 15px;
margin-left: 15px;
color: brown;
font-weight: 500;

}

.para{text-align: left;
    width: 60%;
    padding: 30px;
    left: 0;
    z-index: 10;
    margin-top: 40px;
}

h1{font-size: larger;
color: brown;}

.image{width: 30%;
top: 30px;
right: 0;
display: inline-flex;
position: absolute;
justify-items: right;
margin-right: 15px;
height: 100vh;

}